<% layout("/layouts/boilerplate") %>
<body>
<ul>
<li> <%= a.title.toUpperCase() %></li>
<li> <%= a.country %></li>
<li> <%= a.price %></li>
<li> <%= a.description %></li>
<li> <%= a.location %></li>




</ul>
<a href="/listing/<%= a._id %>/edit">edit this list</a>
</br></br></br>
<form method="post" action="/listing/<%= a._id %>?_method=DELETE">
    <button>DELETE</button>
</form>
</body>
