<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
    <div class="cols-8 offset-2">
        <h3 class="mt-4 heading">Listing Details:</h3>
<div class="card">
<img src="<%= a.image %>" class="card-img-top show-image" alt="..." >
  <div class="card-body">
   
    <label class="card-text"><b> <%= a.title.toUpperCase() %></b></label><br>
    <label class="card-text"><%= a.country.toUpperCase() %></label><br>
    <label class="card-text"> <%= a.price %>₹ </label> </br>

    <text class="card-text"><%= a.description %></text>
    <p class="card-text"><%= a.location %> </p>
    
     </div>


</div>
</div>
</div>
    



<div class="row">
<div class="btns">
    

<form method="get" action="/listing/<%= a._id %>/edit" >
    <button class="btn btn-dark btn-lg edit-btn  offset-4">Edit</button>
</form>


<form method="post" action="/listing/<%= a._id %>?_method=DELETE" >
    <button class="btn btn-dark btn-lg delete-btn ">DELETE</button>
</form>

</div>
</div>
</body>
