<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
    <div class="cols-8 offset-2">
        <h3 class="mt-4 heading">Listing Details:</h3>
<div class="card">
<img src="<%= a.image %>" class="card-img-top show-image" alt="..." >
  <div class="card-body">
   
    <label class="card-text"><b> <%= a.title.toUpperCase() %></b></label><br>
    <label class="card-text"><%= a.country.toUpperCase() %></label><br>
    <label class="card-text"> <%= a.price %>₹ </label> </br>

    <text class="card-text"><%= a.description %></text>
    <p class="card-text"><%= a.location %> </p>
    
     </div>


</div>
</div>
</div>
    



<div class="row">
<div class="btns">
    

<form method="get" action="/listing/<%= a._id %>/edit" >
    <button class="btn btn-dark btn-lg edit-btn ">Edit</button>
</form>


<form method="post" action="/listing/<%= a._id %>?_method=DELETE" >
    <button class="btn btn-dark btn-lg delete-btn ">DELETE</button>
</form>
<hr>

</div>
</div>
<hr>
    <div class="review">
      
<form action="/listing/<%= a._id %>/review" method="post">
    <h4 class="offset-2">Leave a Review</h4>
       
    
 <div  class="mb-3 mt-3">       
<labeL for="rating" class="form-label offset-2" ><b>Rating</b></labeL>
<input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
</div>
<div class="mb-3 mt-3">
<label for="comment" class="form-label"> <b> Comment</b></label> 
<textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"></textarea>
</div>
<button class="btn btn-outline-dark offset-4 btn"> Submit</button>
    


</form>
</div>
</body>
